<div class="container" style="padding-top: 80px;">
	<% provide(:title, 'Contact') %>
	<h1>Contact</h1>
	<p>
	  Contact the Ruby on Rails Tutorial about the sample app at the
	  <a href="http://www.railstutorial.org/contact">contact page</a>.
	</p>
</div>