<% provide(:title, "Account") %>
<section id="user" class="p-b-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="m-t-xl" style="display: flex;">
          
          <!-- text -->
          <div style="display: flex; flex-direction: column; width: 100%;">
            <div style="display:flex; align-items: center">
              <div style="font-weight: 500; font-size: 3em"><%= @user.name %></div>
              <div class="m-l-md">
                <button class="btn btn-quiet" data-toggle="modal" data-target="#editUser" id="newplant">Edit profile</button>
              </div>
            </div>
            <div class="m-t-sm" style="width: 100%; font-size: 14px; font-weight: 300">
              <div style="display: inline-block; margin-right: 96px">
                <span style="font-weight: bold">42</span><br/>
                Plants
              </div>
              <div style="display: inline-block;">
                <strong>3</strong><br/>
                Collections
              </div>
            </div>
          </div>

          <!-- avatar -->
          <div style="display: flex;">
            <div><%= gravatar_for @user %></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="collections" class="m-t-xl">
  <div style="padding: 16px 300px; width: 100%">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <button class="btn btn-quiet m-r-sm">Plants</button>
        <button class="btn btn-quiet m-r-sm">Collections</button>
        <button class="btn btn-quiet m-r-sm">Q&A</button>
      </div>
      <div>
        <button class="btn btn-quiet">Sort by</button>
      </div>
    </div>
  </div>

  <div class="masonry-wrapper m-t-xl">
    <div class="masonry">
      
      <div class="item">
        <img src="https://images.unsplash.com/photo-1508233620467-f79f1e317a05?ixlib=rb-0.3.5&s=ac796b779b3c535b327d901ce43a5f8f&auto=format&fit=crop&w=2168&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1495112398151-7eedd7c2e7e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13361934067611597bc63eaf0897ee05&auto=format&fit=crop&w=2689&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1460751329354-07d91b47af38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18310df6d3c61724e9192f50ff5a7491&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1506545781647-b898b17fdbdc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=219aae468620fc0a9241441a7fbcece6&auto=format&fit=crop&w=934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1506630525117-569864448381?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2b312fb1e449aa4986c29c83752597e6&auto=format&fit=crop&w=934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1500521499834-d1d533b0b958?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=288ff6548081c9c3b59768334b7deffb&auto=format&fit=crop&w=1934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1440658172029-9d9e5cdc127c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dadb738eb9a6442037648059532bb70a&auto=format&fit=crop&w=2626&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1490237014491-822aee911b99?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6c99dec73e55acf9dbf720ec37f6b0a&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1509720412848-e552165849be?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b37b01c7a5c03afe53f7b446ea068773&auto=format&fit=crop&w=934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1464658824763-547203e5a4a1?ixlib=rb-0.3.5&s=b548bd0dcceb06b2270f14a1a8195cff&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1480241352829-e1573ff2414e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e47d11e9273db2993817d24db2475d7&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1507090960745-b32f65d3113a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=92a1714119e42bc9d947f75ec4733ed6&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1513275722112-de9bf01b62b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed7b64729aca2d8d332a64572bfd6cad&auto=format&fit=crop&w=1275&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1496153615838-861aed350146?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95f63835f92b3726a9d675412d421b2a&auto=format&fit=crop&w=2290&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1501883844334-db3e19fa9ff8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3317aea61f0b3964ebdba15b8a908aee&auto=format&fit=crop&w=934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1511973580233-d9e154ce97c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fadb762ebc8aa8a40c601d69acd8a7dc&auto=format&fit=crop&w=2250&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1490118121063-d12f8c4464ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1711e7df3b2e49a9582b8040c6a3aafe&auto=format&fit=crop&w=1934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1488711500009-f9111944b1ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db8d52e77ea934255d46dcd0f49353bf&auto=format&fit=crop&w=2252&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1465070845512-2b2dbdc6df66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a5a77f7badb57d710a18f672c494d65&auto=format&fit=crop&w=934&q=80">
        <div class="footer">
          <a href="#">
            <div class="common">Common Name</div>
            <div class="scientific"><span class="genus">Scientific Name</span></div>
          </a>
          <div class="stats">
            <div><i class="fa fa-heart left text-red"></i> 223</div>
            <div>12 <i class="fa fa-commenting-o right"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Edit User Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit User</h4>
          </div>
          <div class="modal-body-24">
            <div class="container-fluid">
              <div class="row-fluid">
                <form class="form-horizontal">

                  <!-- NAME -->
                  <div class="col-sm-4 form-label">Name</div>
                  <div class="col-sm-8">
                    <%= f.text_field :name, type: 'text', class: 'form-control' %>
                  </div>

                  <!-- EMAIL -->
                  <div class="col-sm-4 form-label">Email</div>
                  <div class="col-sm-8">
                    <%= f.email_field :email, type: 'text', class: 'form-control' %>
                  </div>

                  <!-- PASSWORD -->
                  <div class="col-sm-4 form-label">Password</div>
                  <div class="col-sm-8">
                    <%= f.password_field :password, type: 'text', class: 'form-control' %>
                  </div>

                  <!-- PASSWORD CONFIRMATION -->
                  <div class="col-sm-4 form-label">Confirm Password</div>
                  <div class="col-sm-8">
                    <%= f.password_field :password_confirmation, type: 'text', class: 'form-control' %>
                  </div>

                  <!-- GRAVATAR EDIT -->
                  <div class="col-sm-4 form-label">Edit Avatar</div>
                  <div class="col-sm-8">
                      <a href="http://gravatar.com/emails"><%= gravatar_for @user %></a>
                  </div>

                </form>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div>
              <!-- flex left -->
            </div>
            <div>
              <button type="button" class="btn btn-quiet" data-dismiss="modal">Cancel</button>
              <%= f.submit 'Save changes', class: 'btn btn-primary' %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>