<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://aehlke.github.io/tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>

<div class="modal fade" id="addPlant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <%= form_with scope: :plant, url: plant_path, html: {multipart: true}, local: true, method: plant_method do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= plant_method == "POST" ? "List a new plant" : "Edit Plant"%></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="col-sm-4 form-label"><sup>*</sup> Common Name</div>
            <div class="col-sm-8">
              <%= f.text_field :common_name, type: 'text', class: 'form-control', placeholder: "Ex. Hidcote Blue Lavender" %>
            </div>
            <div class="col-sm-4 form-label"><sup>*</sup> Scientific Name</div>
            <div class="col-sm-8">
              <%= f.text_field :scientific_name, type: 'text', class: 'form-control', placeholder: "Ex. Lavandula Angustifolia 'Hidcote'" %>
            </div>
            <hr>

            <!-- Image Upload -->
            <div class="col-sm-4 form-label">Images</div>
            <div class="col-sm-8 m-b-sm">
              <div class="uploader">
                <div class="text-center">
                  <i class="fa fa-image fa-3x" style="color: lightgray;"></i>
                  <p style="font-size: 24px; margin: 8px 0 0 0">Drag and drop</p>
                  <p style="margin: 0; color: lightgray">or</p>
                  <label class="btn btn-quiet" style="margin: 8px 0">
                    <span id="file-selected"></span>
                    <%= f.file_field :picture, multiple: true, id: "gallery-photo-add", accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-quiet', style: 'margin: 8px 0' %>
                    Choose file
                  </label>
                </div>
              </div>
              <div class="gallery">
                <div class="table-content-container">
                  <table class="content-details-table" id="table-img">
                    <thead class="img-preview-head">
                      <tr>
                        <th>#</th>
                        <th>Thumbnail</th>
                        <th>Image</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody class="img-preview">
                      <%if @plant.pictures %>
                        <% @plant.pictures.each_with_index do |img,index|%>
                          <tr id="pic_up_<%=index+1%>">
                            <td><%=index+1%></td>
                            <td>
                              <img class="image-tag" src="<%=img.attachment.url%>">
                            </td>
                            <td>Image_<%=index+1%></td>
                            <td>
                              <i class="fa fa-trash-o delete_saved_img" aria-hidden="true" data-img-id="<%=img.id%>" id="pic_up_<%=index+1%>"></i>
                            </td>
                          </tr>
                        <%end%>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-sm-4 form-label">Hardiness Zone: 
              <span id="zone"></span>
            </div>
            <div class="col-sm-8 slider-div">
              <!-- Slider test -->
              <div class="slidecontainer">
                <%= f.range_field :hardiness_zone, class: 'slider', min: '1', max: '13', id: 'sliderRange',onchange: "updateSlider()"%>
                <%= hidden_field_tag "hardiness_zone_range", nil, class: "hidden_range_val"%>
              </div>
            </div>

            <div class="col-sm-4 form-label">Preferred Soil</div>
            <div class="col-sm-8">
              <%= f.select :preferred_soil, [ 'Clay','Sandy','Silty','Peaty','Chalky','Loamy'], :prompt => 'Select Soil' %>
            </div>
            <div class="col-sm-4 form-label">Light Needs</div>
            <div class="col-sm-8">
              <%= f.select :light_needs, [ 'Full Sun','Partial Sun','Shade'], :prompt => 'Select lights needs'%>
            </div>
            <div class="col-sm-4 form-label">Water Needs</div>
            <div class="col-sm-8">
              <%= f.select :water_needs, [ 'High','Low', 'Moderate'], :prompt => 'Select water needs' %>
            </div>
            <div class="form-group" style="margin-bottom: 0">
              <div class="col-sm-4 form-label">Tags</div>
              <div class="col-sm-8 text-left">
                <%= text_field_tag :tags, get_tags(@plant) ,id: "myTags", class: 'tag-input', placeholder: "Type here......." %>
                <!-- <a id="add_tag"><i class="fa fa-plus-circle" style="font-size: 18px"></i></a> -->
              </div>
            </div>
          </form>
          <i class="text-center" style="font-size: 13px; opacity: .75">
            <sup>*</sup>Additional details and care instructions can be added from the plant's details page once it is listed.
          </i>
        </div>

        <div class="modal-footer">
          <div class="checkbox">
            <!--
            <input type="checkbox" style="margin-top: 11px;" checked> Add to
            <div class="btn-group dropup">
              <button type="button" class="btn btn-quiet">Backyard</button>
              <button type="button" class="btn btn-quiet dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropup</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Backyard</a></li>
                <li><a href="#">Front yard</a></li>
                <li><a href="#">House Plants</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-plus m-r-xs"></i>New</a></li>
              </ul>
            </div>
          -->
          </div>
          <div>
            <button type="button" class="btn btn-quiet" data-dismiss="modal">Cancel</button>
            <%= f.submit 'Submit', class: 'btn btn-primary submit' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  function updateSlider() {
    var to = $(".irs").find(".irs-to").text();
    var from = $(".irs").find(".irs-from").text();
    $(".hidden_range_val").val(from+"_"+to);
  }
  $("#sliderRange").ionRangeSlider({
    type: "double",
    grid: true,
    min: 1,
    max: 13,
    from: "<%= @plant.hardiness_zone_from.present? ? @plant.hardiness_zone_from : 1%>",
    to: "<%= @plant.hardiness_zone_to.present? ? @plant.hardiness_zone_to : 13%>",
    step: 1
  });

  $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
      if (input.files) {
        var filesAmount = input.files.length;
        for (i = 0; i < filesAmount; i++) {
          var reader = new FileReader();
          var filename = event.target.files[i].name
          reader.onload = function(event) {
            debugger
            var count = ($('div.gallery img').length+1)
            $($.parseHTML('<tr id="pic_up_'+count+'"><td>'+count+'</td><td><img class="image-tag" src='+ event.target.result +'></td><td>Image_'+count+'</td><td><i class="fa fa-trash-o delete_icon" aria-hidden="true" id="pic_up_'+count+'"></i></td></tr>')).appendTo(placeToInsertImagePreview);
          }
          reader.readAsDataURL(input.files[i]);
        }
      }
    };

    $('#gallery-photo-add').on('change', function() {
      debugger
      $(".img-preview-head").css("visibility", "visible");
      imagesPreview(this, '.img-preview');
    });
  });

  $(document).on('click','i.delete_icon',function(e){
    $('.img-preview tr#'+e.target.id).remove()
    $(e.target).remove()
  });

  $(document).on('click','.delete_saved_img',function(e){
    var id = this.dataset.imgId;
    $.ajax({
      type: "DELETE",
      url: "/plants/"+id+"/destroy_picture",
      success: function(response) {
        $('.img-preview tr#'+e.target.id).remove()
        $(e.target).remove()
      }
    });
  });

  $(function(){
    $('#myTags').tagit();
  });    
</script>