<section id="search">
	<div>
		<button onclick="openRail(), changeButtonText()" class="btn btn-outline m-r-sm" id="filterToggle">Show Filters</button>
		<span id="plantcount">
			<strong><%= Plant.all.count %></strong> / <%= Plant.all.count %> plants
		</span>
	</div>
	<div class="search-bar">
		<form id="searchfield">
	  	<input type="text" class="m-0 search-field" placeholder="Search">
	  </form>

	  <button class="btn btn-primary m-l-sm" data-toggle="modal" data-target="#addPlant" id="newplant">
	  	<i class="fa fa-plus"></i> New plant
	  </button>
	  <!-- Add plant modal -->
		<div class="modal fade" id="addPlant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    
		    <%= form_with scope: :plant, url: plants_path, local: true do |f| %>
			    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">List a new plant</h4>
				      </div>
				      <div class="modal-body">
				        <form class="form-horizontal">
							    <div class="col-sm-4 form-label"><sup>*</sup> Common Name</div>
							    <div class="col-sm-8">
							      <%= f.text_field :common_name, type: 'text', class: 'form-control', placeholder: "Ex. Hidcote Blue Lavender" %>
							    </div>
							    <div class="col-sm-4 form-label"><sup>*</sup> Scientific Name</div>
							    <div class="col-sm-8">
							    	<%= f.text_field :scientific_name, type: 'text', class: 'form-control', placeholder: "Ex. Lavandula Angustifolia 'Hidcote'" %>
							    </div>
							  	<hr>
							    
							  	<!-- Image Upload -->
							    <div class="col-sm-4 form-label">Images</div>
							    <div class="col-sm-8 m-b-sm">
							      <div class="uploader">
							      	<div class="text-center">
							      		<i class="fa fa-image fa-3x" style="color: lightgray"></i>
							      		<p style="font-size: 24px; margin: 8px 0 0 0">Drag and drop</p>
							      		<p style="margin: 0; color: lightgray">or</p>
							      		
							      		<label class="btn btn-quiet" style="margin: 8px 0">
							      			<span id="file-selected"></span>
							      			<%= f.file_field :picture, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-quiet', style: 'margin: 8px 0' %>
							      			Choose file
							      		</label>

							      	</div>
							      </div>
							    </div>

							    <div class="col-sm-4 form-label">Hardiness Zone: <span id="zone"></span></div>
							    <div class="col-sm-8">
							    	
							    	<!-- Slider test -->
							    	<div class="slidecontainer">
										  <%= f.range_field :hardiness_zone, class: 'slider', min: '1', max: '13', id: 'myRange'%>
										</div>

							    </div>

							    <div class="col-sm-4 form-label">Preferred Soil</div>
							    <div class="col-sm-8">
							      <select class="form-control">
							      	<option>- Select Soil -</option>
							      	<option>Clay</option>
							      	<option>Sandy Loam</option>
							      </select>
							    </div>
								  
								  <div class="form-group" style="margin-bottom: 0">
								  	<div class="col-sm-4 form-label">Tags</div>
								    <div class="col-sm-8 text-left">
								      <input class="tag-input" type="tag" placeholder="Type here..."><a><i class="fa fa-plus-circle" style="font-size: 18px"></i></a>
								    </div>
								  </div>
								</form>
								<i class="text-center" style="font-size: 13px; opacity: .75">
									<sup>*</sup>Additional details and care instructions can be added from the plant's details page once it is listed.
								</i>
				      </div>
				      <div class="modal-footer">
				      	<div class="checkbox">
				      		<!--
						      <input type="checkbox" style="margin-top: 11px;" checked> Add to
						      <div class="btn-group dropup">
									  <button type="button" class="btn btn-quiet">Backyard</button>
									  <button type="button" class="btn btn-quiet dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    <span class="caret"></span>
									    <span class="sr-only">Toggle Dropup</span>
									  </button>
									  <ul class="dropdown-menu">
									    <li><a href="#">Backyard</a></li>
									    <li><a href="#">Front yard</a></li>
									    <li><a href="#">House Plants</a></li>
									    <li role="separator" class="divider"></li>
									    <li><a href="#"><i class="fa fa-plus m-r-xs"></i>New</a></li>
									  </ul>
									</div>
								-->
							  </div>
							  <div>
					        <button type="button" class="btn btn-quiet" data-dismiss="modal">Cancel</button>
					        <%= f.submit 'Submit', class: 'btn btn-primary submit' %>
					      </div>
				      </div>
			    </div>
		    <% end %>
		  </div>
		</div>
	</div>
</section>

<section id="catalog">

	<div id="main">

		<div class="aside-wrapper" id="filterRail">

			<!-- filter section -->
			<div class="filter-wrapper">
			  <a class="filter-row" data-toggle="collapse" href="#sortorder" role="button" aria-expanded="false" aria-controls="collapseExample">
			    <div><i class="fa fa-sort-amount-desc"></i> Sort</div>
					<div class="expander"><i class="fa fa-angle-down"></i></div>
			  </a>

			  <!-- Collapsible content -->
				<div class="collapse in" id="sortorder">
			    <select class="form-control m-t-xs">
						<option>Alphabetically</option>
						<option>Most popular</option>
						<option>Least popular</option>
					</select>
				</div>
			</div>

			<!-- filter section -->
			<div class="filter-wrapper">
			  <a class="filter-row" data-toggle="collapse" href="#tags" role="button" aria-expanded="false" aria-controls="collapseExample">
			    <div><i class="fa fa-tags left"></i> Keywords</div>
					<div class="expander"><i class="fa fa-angle-down"></i></div>
			  </a>

			  <!-- Collapsible content -->
				<div class="collapse in" id="tags">
			    <div class="label-area">
						<div class="label"><span class="label-name">Evergreen</span><i class="label-close fa fa-close"></i></div>
						<div class="label"><span class="label-name">Zone 6</span><i class="label-close fa fa-close"></i></div>
						<div class="label"><span class="label-name">Deer Resistant</span><i class="label-close fa fa-close"></i></div>
						<a class="new-label"><i class="fa fa-plus-circle"></i></a>
					</div>
				</div>
			</div>

			<!-- filter section -->
			<div class="filter-wrapper">
			  <a class="filter-row" data-toggle="collapse" href="#lightneeds" role="button" aria-expanded="false" aria-controls="collapseExample">
			    <div><i class="fa fa-sun-o"></i> Light Needs</div>
					<div class="expander"><i class="fa fa-angle-down"></i></div>
			  </a>

			  <!-- Collapsible content -->
				<div class="collapse in" id="lightneeds">
			    <div class="m-t-sm">
					  <div class="checkbox m-b-sm">
					    <label>
					      <input type="checkbox"> Shade
					    </label>
					  </div>
					  <div class="checkbox m-b-sm">
					    <label>
					      <input type="checkbox"> Partial sun
					    </label>
					  </div>
					  <div class="checkbox m-b-sm">
					    <label>
					      <input type="checkbox"> Full sin
					    </label>
					  </div>
					</div>
				</div>
			</div>

			<div class="submit">
				<button class="btn btn-outline">Apply Filters</button>
			</div>
		</div>

	  <div class="masonry-wrapper">
      <div class="masonry">
        <% @plants.each do |plant| %>
          <!-- Figure out how to link to a specific plant's show page here -->
          <div class="item">
            <% if plant.picture.present? %>
              <a href="/plants/<%= plant.id %>"><%= image_tag plant.picture%></a>
            <% elsif plant.pictures.present? %>
              <%# plant.pictures.each do |img| %>
              <a href="/plants/<%= plant.id %>"><%= image_tag plant.pictures.first.attachment %></a>
              <%# end %>
            <% end %>
            <div class="footer">
              <a href="/plants/<%= plant.id %>">
                <div class="common"><%= plant.common_name %></div>
                <div class="scientific"><span class="genus"><%= plant.scientific_name %></span></div>
              </a>
              <div class="stats">
                <div><i class="fa fa-heart left text-red"></i> 223</div>
                <div>12 <i class="fal fa-comment-alt right"></i></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div id="mobile-spacer">
  </div>

</section>

<section id="plantbook-bottom-nav-mobile">
	<div>
		<a><i class="fal fa-home"></i></a>
	</div>
	<div>
		<a><i class="fal fa-search"></i></a>
	</div>
	<div>
		<a><i class="fal fa-plus-circle"></i></a>
	</div>
	<div>
		<a><i class="fal fa-question-circle"></i></a>
	</div>
</section>

<script type="text/javascript">
  $('#plant_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB. Please choose a smaller file.');
    }
  });
</script>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("zone");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>