<div class="container">
  <h1>Plants#new</h1>
  <p>Find me in app/views/plants/new.html.erb</p>

  <%= form_with scope: :plant, url: plants_path, html: { multipart: true }, local: true do |form| %>
    <p>
      <%= form.label :common_name %><br>
      <%= form.text_field :common_name %>
    </p>
   
    <p>
      <%= form.label :scientific_name %><br>
      <%= form.text_field :scientific_name %>
    </p>

    <p>
      <%= form.label :picture %><br>
      <%= form.file_field :picture %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

</div>