<!-- light box js and css -->
<link href="/assets/lightbox.css" rel="stylesheet">
<script src="/assets/lightbox.js"></script>

<section id="plant-profile-page">
  <div class="profile-nav">
    <img src="https://s3-us-west-2.amazonaws.com/plantbook/img/nav-logo-sq.svg" id="nav-logo-sq" alt="Plantbook Logo">
    <div class="breadcrumb-wrapper">
      <%= link_to root_path do %>
      <span class="m-r-xs"><i class="fa fa-home m-r-xs"></i> Home</span>
      <% end %>
      /
      <%= link_to plants_path do %>
        <span class="breadcrum">Plant Catalog</span>
      <% end %>
      /
      <strong class="m-l-xs" style="text-transform: capitalize;"><%= @plant.common_name %></strong>
    </div>
    <div>
      <% if has_admin?(current_user) %>
        <%= link_to "/plants/#{@plant.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-quiet m-r-sm" do %> 
          Delete<i class="fa fa-times m-l-xs"></i>
        <% end %>
      <% end %>
      <button class="btn btn-quiet m-r-sm" data-toggle="modal" data-target="#addPlant" id="newplant">
        Edit <i class="fa fa-pencil m-l-xs"></i>
      </button>
      
      <button class="btn btn-primary"><i class="fa fa-plus m-r-xs"></i> Add to my plantbook</button>
      <!-- EDIT PLANT MODAL -->
      <%= render partial: 'add_or_edit_plant_modal', object: @plant, locals: { plant_method: "PATCH", plant_path: "/plants/"+@plant.id.to_s } %>
    </div>
  </div>

  <div class="plant-show-hero">
    <% if @plant.picture.present? %>
      <%= image_tag @plant.picture.url, class: 'hero-bg'%>
    <%elsif @plant.pictures.present? %>
      <%= image_tag @plant.pictures.first.attachment.url, class: 'hero-bg'%>
    <%end%>
  </div>

  <div id="top-info-wrapper">
    <div class='container top-info'>
      <div class="plant-profile-pic m-r-lg">
        <% if @plant.picture.present? %>
          <%= image_tag @plant.picture.url %>
        <%elsif @plant.pictures.present? %>
          <%= image_tag @plant.pictures.first.attachment.url%>
        <%end%>
        
      </div>
      <div class="plant-info">
        <table>
          <tr>
            <td style="padding-right: 64px"><p class="common"><%= @plant.common_name %></p></td>
            <td>
              <strong>
                <% if @plant.tags %>
                  <% @plant.tags.each do |tag|%>
                    <span>#<%= tag.name %></span>
                  <%end%>
                <%end%>
              </strong>
            </td>
          </tr>
          <tr>
            <td><p class="scientific"><%= @plant.scientific_name %></p></td>
            <td>51,342 Gardeners | 1,000+ answered questions</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Main Plant Info -->
  <section id="plant-main">
  	<!-- Left Column (fat column) -->
  	<div class="plant-left">
  		<div class="card">
	      <div class="card-header">
	        <div class="header">Q and A</div>
	      </div>
	      <div class="card-body card-no-footer" style="padding: 16px">
	      	
	      	<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item active">
					    <a class="nav-link active" id="answered" data-toggle="tab" href="#home" role="tab" aria-controls="answered" aria-selected="true">Answered (52)</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="unanswered" data-toggle="tab" href="#unanswered" role="tab" aria-controls="unanswered" aria-selected="false">Unanswered (6)</a>
					  </li>
					  <li class="nav-item pull-right">
					    <a class="nav-link" id="newquestion" data-toggle="tab" href="#newquestion" role="tab" aria-controls="newquestion" aria-selected="false">Ask a new question</a>
					  </li>
					</ul>
					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="answered" role="tabpanel" aria-labelledby="answered">
					  	This is for answered questions
					  </div>
					  <div class="tab-pane fade" id="unanswered" role="tabpanel" aria-labelledby="unanswered">
					  	This is for unanswered questions
					  </div>
					  <div class="tab-pane fade" id="newquestion" role="tabpanel" aria-labelledby="newquestion">
					  	This is for new questions
					  </div>
					</div>






	      	<!-- Flex Container Div (for all Q&A)-->
	      	<div style="display: flex; justify-content: flex-start; align-items: flex-start;">
		      	
		      	<!-- Left Div (for Q&A category)-->
		      	<div class="m-r-lg">
		      		<div style="display: flex; justify-content: center; align-items: center; height: 75px; width: 75px; border-radius: 8px; border: 1px solid lightgray">
	    					<i class="fa fa-shower fa-3x"></i>
	    				</div>
	    				<div class="text-center m-t-xs">Watering</div>
		      	</div>
		      	
		      	<!-- Right Div (for Q&A content)-->
		      	<div>
		      		
		      		<div class="p-b-sm m-b-sm border-bottom" style="display: flex; align-items: center;">
			      		<!-- Voting System -->
			      		<div class="m-r-lg" style="display: flex; flex-direction: column; align-items: center">
		      				<div><i class="fa fa-angle-up fa-2x"></i></div>
		      				<div>52</div>
		      				<div><i class="fa fa-angle-down fa-2x"></i></div>
		      			</div>

		      			<!-- Content -->
		      			<div class="p-t-xs">
		      				I recommend that you follow a regular watering schedule during the first growing season to establish a deep, extensive root system. Try 1 gallon of water every 5 days during spring. Once established, needs only occasional watering.
		      			</div>
		      		</div>

		      		<div class="p-b-sm m-b-sm border-bottom" style="display: flex; align-items: center;">
			      		<!-- Voting System -->
			      		<div class="m-r-lg" style="display: flex; flex-direction: column; align-items: center">
		      				<div><i class="fa fa-angle-up fa-2x"></i></div>
		      				<div>52</div>
		      				<div><i class="fa fa-angle-down fa-2x"></i></div>
		      			</div>

		      			<!-- Content -->
		      			<div class="p-t-xs">
		      				I recommend that you follow a regular watering schedule during the first growing season to establish a deep, extensive root system. Try 1 gallon of water every 5 days during spring. Once established, needs only occasional watering.
		      			</div>
		      		</div>

		      	

		      	</div>
		      </div>

	      	<!-- 
    			<div style="display: inline-block; justify-content: center; align-items: center;">
    				<div style="height: 75px; border-radius: 8px">
    					<i class="fa fa-shower fa-3x"></i>
    				</div>
    				<div class="text-center">Watering</div>
    			</div>

      		<div class="border-bottom m-b-sm" style="display: inline-block;">
      			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 75px; width: 75px;">
      				<div><i class="fa fa-angle-up fa-2x"></i></div>
      				<div>52</div>
      				<div><i class="fa fa-angle-down fa-2x"></i></div>
      				<div><i class="fa fa-heart-o"></i></div>
      			</div>
      			<div style="display: flex; align-items: center; height: 75px; width: 100%;">
      				I recommend that you follow a regular watering schedule during the first growing season to establish a deep, extensive root system. Try 1 gallon of water every 5 days during spring.

      				Once established, needs only occasional watering.
      			</div>
      		</div>
					-->
	      </div>
	    </div>
	    
	    <div class="card">
	      <div class="card-header">
	        <span class="header">Related Plants</span>
	      </div>
	      <div class="card-body card-no-footer">
	      	<div style="display: flex; justify-content: space-around; padding: 16px">
		      	<div style="background-color: lightgray; border-radius: 8px; height: 175px; width: 175px; margin: 8px;"></div>
		      	<div style="background-color: lightgray; border-radius: 8px; height: 175px; width: 175px; margin: 8px;"></div>
		      	<div style="background-color: lightgray; border-radius: 8px; height: 175px; width: 175px; margin: 8px;"></div>
		      	<div style="background-color: lightgray; border-radius: 8px; height: 175px; width: 175px; margin: 8px;"></div>
		      	<div style="background-color: lightgray; border-radius: 8px; height: 175px; width: 175px; margin: 8px;"></div>
		     	</div>
	      </div>
	    </div>

  	</div>
  	<!-- Right Column (skinny column) -->
  	<div class="plant-right">
			<!-- Quick Info -->  		
			<div class="card">
        <div class="card-header">
          <div class="header">Basic Needs</div>
					<div>
				    <ul class="list-inline list-unstyled" style="margin-bottom: 0">
			        <li class="dropdown">
			          <a type="button" data-toggle="dropdown" style="color: inherit; text-decoration: none; cursor: pointer">
			            <i class="fas fa-cog"></i>
			          </a>
			          <ul class="dropdown-menu dropdown-menu-right" style="margin: 0; padding: 0">
			            <li><a style="padding: 8px 16px"><i class="fa fa-pencil m-r-xs"></i> Edit</a></li>
			            <li><a style="padding: 8px 16px"><i class="fa fa-question m-r-xs"></i> Ask a question</a></li>
			          </ul>
			        </li>
				    </ul>
				  </div>

        </div>
        <div class="card-body">
        	<div class="quick-stat">
        		<div class="stat-left">
        			Hardiness Zone <i class="fa fa-exclamation-triangle m-l-xs" style="color: orange"></i>
        		</div>
        		<div class="stat-right">
        			<%= @plant.hardiness_zone_from.to_s + "-" +  @plant.hardiness_zone_to.to_s rescue nil %>
        		</div>
        	</div>
        	<div class="quick-stat">
        		<div class="stat-left">
        			Soil Preference <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
        		</div>
        		<div class="stat-right">
        			<%= @plant.preferred_soil.present? ? @plant.preferred_soil : "-" rescue nil %>
        		</div>
        	</div>
        	<div class="quick-stat">
        		<div class="stat-left">
        			Light Needs <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
        		</div>
        		<div class="stat-right">
        			<%= @plant.light_needs.present? ? @plant.light_needs : "-" rescue nil %>
        		</div>
        	</div>
        	<div class="quick-stat">
        		<div class="stat-left">
        			Resistant to <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
        		</div>
        		<div class="stat-right">
        			-
        		</div>
        	</div>
        	<div class="quick-stat">
        		<div class="stat-left">
        			Spread <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
        		</div>
        		<div class="stat-right">
        			-
        		</div>
        	</div>

					<!-- Collapsible content -->
					<div class="collapse" id="morestats">
				    <div class="">
					    <div class="quick-stat">
		        		<div class="stat-left">
		        			Growth Habit <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Bloom Season <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Days to Maturity <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Genus <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Height <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Life Cycle <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Ornamental Use <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Planting Time <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Sow Method <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			PH Level <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        	<div class="quick-stat">
		        		<div class="stat-left">
		        			Drainage Preference <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
		        		</div>
		        		<div class="stat-right">
		        			-
		        		</div>
		        	</div>
		        </div>
					</div>
        </div>
        <div class="card-footer">
        	<div>
        		<strong>5</strong> / 13
        	</div>
        	<div>
        		<a class="filter-row" data-toggle="collapse" href="#morestats" role="button" aria-expanded="false" aria-controls="collapseExample" style="color: inherit; text-decoration: none">See more
					  </a>
					</div>
        </div>
      </div>

      <!-- Quick Info -->  		
			<div class="card">
        <div class="card-header">
          <div class="header">Promoted</div>
					<div>
				    <ul class="list-inline list-unstyled" style="margin-bottom: 0">
			        <li class="dropdown">
			          <a type="button" data-toggle="dropdown" style="color: inherit; text-decoration: none; cursor: pointer">
			            <i class="fas fa-cog"></i>
			          </a>
			          <ul class="dropdown-menu dropdown-menu-right" style="margin: 0; padding: 0">
			            <li><a style="padding: 8px 16px"><i class="fa fa-pencil m-r-xs"></i> Why am I seeing this ad?</a></li>
			            <li><a style="padding: 8px 16px"><i class="fa fa-question m-r-xs"></i> Ask a question</a></li>
			          </ul>
			        </li>
				    </ul>
				  </div>

        </div>
        <div class="card-body card-no-footer">
      		<img src="https://s3-us-west-2.amazonaws.com/plantbook/img/ad.png" style="width: 100%">
      		<div style="padding: 8px 16px">
	      		<div class="ad-header">
	      			Tiny Roots Pruning Kit - $49.99
	      		</div>
	      		<div class="ad-copy">
	      			This beautiful and high quality pruning kit is perfect for your all your gardening needs, and will last you a lifetime.
	      		</div>
	      	</div>
        	
					<!-- Collapsible content -->
					<div class="collapse" id="morestats">
				    <div class="quick-stat">
	        		<div class="stat-left">
	        			Growth Habit <i class="fa fa-check-circle m-l-xs" style="color: forestgreen"></i>
	        		</div>
	        		<div class="stat-right">
	        			-
	        		</div>
	        	</div>
					</div>
        </div>
      </div>

  		<!-- Image Gallery -->
		  <%if @plant.pictures.present? %>
	      <div class="card">
	        <div class="card-header">
	          <span class="header">Gallery</span>
	        </div>
	        <div class="card-body">
	          <div id="gallery">
              <% @plant.pictures.each do |img|%>
              <a class="image-wrapper" href="<%=img.attachment.url%>" data-lightbox="image-1"><%= image_tag img.attachment.url%></a>
              <%end%>
              <div class="new-img"><i class="fa fa-plus"></i></div>
	          </div>
	        </div>
					<div class="card-footer">
	        	<div>
	        		<strong>?</strong> / ?
	        	</div>
	        </div>
	      </div>
		  <%end%>
  	</div>
  </section>