@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$whiteish-gray: #F6F9FB;
$light-green: #E9F4F2;
$red: #E85858;
$primary-green: #00b784;
$secondary-green: #009c77;
$strong-green: #00aa80;
$primary-text: rgb(118,118,118);
$default-border: rgba(100,100,100,.3);
$light-border: rgba(100,100,100,.1);
$primary-text-hover: rgb(0,162,143);
$link-base: #999;
$link-hover: #111;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-color: $whiteish-gray;
  color: $primary-text;
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;

  a {
    cursor: pointer;
    text-decoration: none !important;
    color: $link-base;
    transition: color 150ms ease-in-out;
  }
  a:hover {
    color: $link-hover;
    transition: color 150ms ease-in-out;
  }
}
input, btn {
  outline: none !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.text-red {
  color: $red;
}

/* buttons, labels, & tags */
.btn {
  border-radius: 2em;
  padding: .4em .9em;
  /*text-shadow: 0 1px 1px rgba(0,0,0,.25);*/
  transition: 100ms all ease-in-out;

  &:active, &:hover, &:focus, &:visited {
    background-color: inherit;
    outline: none !important;
  }
}
.btn-primary {
  background-color: $primary-green;
  border-color: $primary-green;

  &:active:focus {
    background-color: $secondary-green;
    border-color: $secondary-green;  
    outline: none;
  }

  &:hover {
    background-color: $secondary-green;
    border-color: $primary-green;
    transition: 100ms all ease-in-out;
    color: white;
    text-decoration: none;
    transition: 100ms all ease-in-out;
    outline: none;
  }
  
  &:active {
    background-color: $primary-green;
    border-color: $primary-green;
    transition: 100ms all ease-in-out;
    outline: none;
  }
  &:focus {
    background-color: $primary-green;
    border-color: $primary-green;
    transition: 100ms all ease-in-out;
    outline: none;
  }
  &:visited {
    background-color: $secondary-green;
    border-color: $secondary-green;
    transition: 100ms all ease-in-out;
    outline: none;
  }
  &:disabled {
    opacity: .5;
    outline: none;
  }
}
.btn-outline {
  background-color: transparent;
  border: 1px solid $default-border;
  border-color: $default-border;
  color: $primary-text;
  text-shadow: none;

  &:hover {
    background-color: rgb(100,100,100);
    color: white;
    transition: 100ms all ease-in-out;
  }
}
.btn-quiet {
  background-color: #efefef;
  border-color: #efefef;
  color: $primary-text;
  text-shadow: none;
  transition: 100ms all ease-in-out;

  &:hover, &:focus, &:active {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
    box-shadow: none;
  }
}
.btn-menu-circle-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: transparent;
  color: $primary-text;
  font-size: 18px;
  text-shadow: none;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(118,118,118,1);
  color: rgba(118,118,118,1) !important;
  border: none;
  transition: 100ms all ease-in-out;

  &:hover {
    color: inherit;
  }
}
.btn-menu-circle-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background-color: transparent;
  color: $primary-text;
  font-size: 16px;
  text-shadow: none;
  border-radius: 50%;
  border: none;
  transform: rotate(0deg);
  transition: 150ms all ease-in-out;

  &:hover {
    background-color: #efefef;
    transition: 150ms all ease-in-out;
  }

  &:active {
    transform: rotate(90deg);
    background-color: #efefef;
    transition: 150ms all ease-in-out;
  }
  &:focus {
    outline: none;
    transform: rotate(90deg);
    background-color: #efefef;
    transition: 150ms all ease-in-out;
  }
}

.label-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 8px;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #efefef;
    color: inherit;
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
    user-select: none;
    font-weight: 300;

    .label-name {
      padding-right: 6px;
    }
    .label-close {
      font-size: 12px !important;
      opacity: .75;
    }
  }

  .new-label {
    margin-bottom: 8px;
    cursor: pointer;
    color: inherit;
    font-size: 18px;

    &:hover {
      color: $primary-text-hover;
    }
  }
}

/* spacing */
.p-0 {
  padding: 0;
}
.p-xs {
  padding: 8px;
}

.p-sm {
  padding: 16px;
}

.p-md {
  padding: 24px;
}

.p-lg {
  padding: 32px;
}

.p-xl {
  padding: 40px;
}
.p-t-xs {
  padding-top: 8px;
}

.p-t-sm {
  padding-top: 16px;
}

.p-t-md {
  padding-top: 24px;
}

.p-t-lg {
  padding-top: 32px;
}

.p-t-xl {
  padding-top: 40px;
}

.p-r-xs {
  padding-right: 8px;
}

.p-r-sm {
  padding-right: 16px;
}

.p-r-md {
  padding-right: 24px;
}

.p-r-lg {
  padding-right: 32px;
}

.p-r-xl {
  padding-right: 40px;
}

.p-b-xs {
  padding-bottom: 8px;
}

.p-b-sm {
  padding-bottom: 16px;
}

.p-b-md {
  padding-bottom: 24px;
}

.p-b-lg {
  padding-bottom: 32px;
}

.p-b-xl {
  padding-bottom: 40px;
}

.p-r-xs {
  padding-right: 8px;
}

.p-r-sm {
  padding-right: 16px;
}

.p-r-md {
  padding-right: 24px;
}

.p-r-lg {
  padding-right: 32px;
}

.p-r-xl {
  padding-right: 40px;
}

.p-l-xs {
  padding: 0 0 0 8px;
}

.p-l-sm {
  padding: 0 0 0 16px;
}

.p-l-md {
  padding: 0 0 0 24px;
}

.p-l-lg {
  padding: 0 0 0 32px;
}

.p-l-lg {
  padding: 0 0 0 40px;
}

.m-0 {
  margin: 0;
}
.m-xs {
  margin: 8px;
}

.m-sm {
  margin: 16px;
}

.m-md {
  margin: 24px;
}

.m-lg {
  margin: 32px;
}

.m-xl {
  margin: 40px;
}
.m-t-xs {
  margin-top: 8px;
}

.m-t-sm {
  margin-top: 16px;
}

.m-t-md {
  margin-top: 24px;
}

.m-t-lg {
  margin-top: 32px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-r-xs {
  margin-right: 8px;
}

.m-r-sm {
  margin-right: 16px;
}

.m-r-md {
  margin-right: 24px;
}

.m-r-lg {
  margin-right: 32px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xs {
  padding-bottom: 8px;
}

.m-b-sm {
  margin-bottom: 16px;
}

.m-b-md {
  margin-bottom: 24px;
}

.m-b-lg {
  margin-bottom: 32px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-r-xs {
  margin-right: 8px;
}

.m-r-sm {
  margin-right: 16px;
}

.m-r-md {
  margin-right: 24px;
}

.m-r-lg {
  margin-right: 32px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-l-xs {
  margin-left: 8px;
}

.m-l-sm {
  margin-left: 16px;
}

.m-l-md {
  margin-left: 24px;
}

.m-l-lg {
  margin-left: 32px;
}

.m-l-lg {
  margin-left: 40px;
}

/* ----- borders ----- */
.border-all {
  border: 1px solid $default-border;
}
.border-top {
  border-top: 1px solid $default-border;
}
.border-right {
  border-right: 1px solid $default-border;
}
.border-bottom {
  border-bottom: 1px solid $default-border;
}
.border-left {
  border-left: 1px solid $default-border;
}

/* ----- navbar ----- */
#plantbook-nav {
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 14px;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(100,100,100,.1);

  #nav-logo-pic {
    
    width: 130px;
    margin-right: 24px;
  }
  #nav-logo-sq {
    height: 30px;
    width: 30px;
    margin-right: 24px;
  }
  #nav-dots {
    height: auto;
    width: 18px;
  }
  .plant-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .plant-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0;

      a {
        padding: 16px 24px;

      }
    }
    .divider {
      margin: 0;
      padding: 0;
    }
    .notif-menu {
      width: 375px;
    }
    .notif-header {
      color: $link-base;
      cursor: default;
      user-select: none;
      padding: 8px 16px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .notif-area {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .notif-wrapper {
        width: 100%;
        border-bottom: 1px solid $light-border;
        display: flex;
        align-items: flex-start;

        .notif-icon {
          padding: 16px 8px 16px 16px;
        }
        .notif-text {
          padding: 16px 16px 16px 8px;

          .link {
            padding: 0 !important;
            margin: 0 !important;
            color: default !important;
            text-decoration: underline !important;
          }
          .btn-wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 8px;

            .btn {
              margin: 8px 8px 0 0
            }
          }
          .notif-media {
            display: block;
            width: 100%;
          }
        }
        .unread {
          font-weight: 500;
          color: $link-hover;
        }
      }
    }
  }
  .nav-item {
    margin: 0 0 0 24px;
  }
  .nav-item-dropdown {
    padding: 0 !important;
  }
  .nav-bell {
    margin-right: 7px;
    .nav-bell-counter {
      background: Tomato;
      font-size: 2.5em;
      top: -7px;
      right: -7px;
    }
    .fa-bell {
      margin: 0;
    }
  }
}

#plantbook-nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 24px;
  font-size: 1.5em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

  #nav-logo-mobile {
    height: auto;
    width: 125px;
  }
  #nav-logo-sq {
    height: 30px;
    width: 30px;
    margin-right: 24px;
  }
  #nav-icon {
    height: auto;
    width: 18px;
  }
  .nav-icon {
    height: auto;
    width: 18px;
  }
  .plant-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;

    a {
      padding: 16px 24px;

      &:hover {
        background-color: $whiteish-gray;
      }
    }
  }
  .divider {
    margin: 0;
    padding: 0;
  }
  .nav-item {
    padding: 0 8px;
  }
  a {
    text-decoration: none;
    color: $primary-text;
    &:hover {
      color: $primary-text-hover;
      
    }
  }
}

#plantbook-bottom-nav-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 -2px 5px 0 rgba(118,118,118,.25);
  padding: 8px 24px;
  font-size: 1.75em;
  border-top: 1px solid $light-border;

  a {
    color: inherit;
    cursor: pointer;
  }

}
/* notifications and alerts */

#notification-bar {
  background-color: $light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  letter-spacing: 1.5px;
}

.alert {
  text-align: center;
  position: absolute;
  z-index: 4;
  width: 100%;
  margin: 0;
  padding: 16px;
  border-radius: 0;

  animation-name: alert-animation;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

@keyframes alert-animation {
    0% {top: -200px}
    10% {top: 1px}
    13% {top: 0}
    75% {top: 0}
    100% {top: -200px}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */
.border-bottom {
  border-bottom: 1px solid lightgray;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* FORMS */
form {
  text-align: right;
  width:100%;
  input[type=text] {
    width: 150px;
    background-color: white;
    border-radius: 2em;
    border: none;
    padding: .5em 1em;
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
    transition: 200ms all ease-in-out;

    .search-field {
      background-image: url('https://s3-us-west-2.amazonaws.com/plantbook/img/magnify.png');
      background-position: 1em .6em; 
      background-repeat: no-repeat;
    }
    

    &:focus[type=text] {
      width: 400px;
      border: none;
      box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 2px $light-border;
      outline: none;
      transition: 200ms all ease-in-out;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: .5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: .5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: .5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: .5;
    }
  }
  .tag-input {
    width: 120px;
    background-color: white;
    border-radius: 2em;
    border: none;
    outline: none;
    padding: .5em 1em;
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
    transition: 200ms all ease-in-out;
    margin-right: 16px;

    &:focus[type=text] {
      border: none;
      box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 2px $light-border;
      outline: none;
      transition: 200ms all ease-in-out;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: .5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: .5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: .5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: .5;
    }
  }
}

.modal {
  .modal-title {
    text-align: left;
  }
  .form-horizontal .control-label {
    text-align: left;
  }
  .control-label {
    font-weight: normal;
  }
  .form-label {
    margin-bottom: 8px;
    text-align: left;
  }
  .modal-content {
    background-color: $whiteish-gray;
  }
  input[type="file"] {
      position: absolute;
      left: -99999rem;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 2em;
    cursor: pointer;
  }
  .modal-body {
    padding: 24px 128px;
    .uploader {
      width: 100%;
      padding: 32px 0;
      box-shadow: 0 0 0 1px rgba(255,255,255,1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: all 200ms ease-in-out;
      

      &:hover {
        box-shadow: 0 0 0 1px $light-border;
        transition: all 150ms ease-in-out;
      }
    }
  }

  .modal-body-24 {
    padding: 24px;
    .uploader {
      width: 100%;
      padding: 32px 0;
      box-shadow: 0 0 0 1px rgba(255,255,255,1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: all 200ms ease-in-out;
      

      &:hover {
        box-shadow: 0 0 0 1px $light-border;
        transition: all 150ms ease-in-out;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .modal-body {
      padding: 24px 48px;
    }
  }
  @media screen and (max-width: 768px) {
    .modal-body {
      padding: 24px 64px;
    }
  }
  @media screen and (max-width: 414px) {
    .modal-body {
      padding: 24px 32px;
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;

    &:before, &:after {
      content: none;
    }
    .checkbox {
      margin: 0 0 0 20px;
    }
    input[type=submit] {
      width: 75px !important;
    }
  }
  select {
    width: 100% !important;
    background-color: white;
    border-radius: 2em !important;
    border: none;
    padding: .5em 1em;
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
    transition: 200ms all ease-in-out;
    margin-bottom: none;

    &:focus {
      width: 100% !important;
      border: none;
      box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 2px $light-border;
      outline: none;
      transition: 200ms all ease-in-out;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: .5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: .5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: .5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: .5;
    }
  }

  input[type=text] {
    width: 100% !important;
    background-color: white;
    border-radius: 2em;
    border: none;
    padding: .5em 1em;
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
    transition: 200ms all ease-in-out;

    &:focus {
      width: 100% !important;
      border: none;
      box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 2px $light-border;
      outline: none;
      transition: 200ms all ease-in-out;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: .5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: .5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: .5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: .5;
    }
  }
}
.input-group-addon {
  background-color: white;
}

.form-control {
  background-color: transparent;
  margin-bottom: 16px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* home page */
.marquee-bg {
  height: 100vh;
  width: 100%;
  background-color: aqua;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* --- Catalog Page --- */
#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  box-shadow: 0 2px 5px 0 rgba(118,118,118,.25);

  .search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        color: inherit;
        cursor: pointer;
    }
  }
}
.masonry-wrapper {
  width: 95%;
  margin: 1.5em auto;
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
  }

  .masonry {
    position: relative;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: 1em;
  }

  .item {
    position: relative;
    display: inline-block;
    margin: .25em 0 1.25em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 7px rgba(118,118,118,.3);
      transition: 140ms all ease-in-out;
    }

    img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .footer {
      padding: 12px;
      background-color: white;
      border-radius: 0 0 8px 8px;

      .common {
        font-weight: 500;
        font-size: 1.25em;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .scientific {
        font-weight: 300;
        font-size: 1em;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .genus {
          font-style: italic;
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
      .stats {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        cursor: default;
        user-select: none;

        i.left, svg.left {
          margin-right: 4px;
        }
        i.right, svg.right {
          margin-left: 4px;
        }
      }
    }
  }
}
#catalog {
  position: relative;
  z-index: 0;
  
  #main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    -webkit-overflow-scrolling: touch; /* this ensures that scrolling on iPhone is smooth as silk */
  }
  .aside-wrapper {
    background-color: white;
    width: 300px;
    overflow-y: scroll;
    border-right: 1px solid $light-border;
    position: absolute;
    height: 100%;
    left: -300px;
    z-index: 2;
    transition: all 200ms ease-in-out;
    transform: translateX(0px);

    .filter-wrapper {
      padding:32px;
      border-bottom: 1px solid #eeeeee;
    }
    .filter-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color:inherit;
    }
    .expander {
      font-size: 20px;
    }
    .submit {
      padding: 32px;
      text-align: center;
    }
  }
  .open {
    transition: all 200ms ease-in-out;
    content: "Hide Filters";
    left: 0 !important;  
  }
  @media only screen and (min-width: 0px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #main {

      #mobile-spacer {
        height: 200px;
      }
    }
  }
  @media only screen and (min-width: 425px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
  }

  @media only screen and (min-width: 768px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
  }

  @media only screen and (min-width: 1024px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
  }

  @media only screen and (min-width: 1440px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
    .wrapper {
        width: 1260px;
    }
  }
}

/* Media Queries */

#newplant {
  display: none;
}
#plantcount {
  display: none;
}
#help {
  display: none;
}
#users {
  display: none; 
}

@media only screen and (min-width: 0px) {

  .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
  #plantbook-nav {
    display: none;
  }
  #search {
    display: none;
  }
}

@media only screen and (min-width: 425px) {
  .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
  #search {
    display: flex;
  }
  #plantbook-nav-mobile {
    display: none;
  }
  #plantbook-bottom-nav-mobile {
    display: none;
  }
  #plantbook-nav {
    display: flex;
  }
  #searchfield {
    display: inline;
  }
  #users {
    display: inline;
  }
  #nav-logo-pic {
    display: inline;
  }
  #nav-logo-sq {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
  
  #plantbook-nav-mobile {
    display: none;
  }
  #plantcount {
    display: inline;
  }
  #newplant {
    display: inline;
  }
  #help {
    display: inline;
  }
  #users {
    display: inline;
  }
  #nav-logo-sq {
    display: none;
  }
}

@media only screen and (min-width: 1024) {
  .masonry {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
  }
  #plantbook-nav-mobile {
    display: none;
  }
  #nav-logo-sq {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .masonry {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
  }
  .wrapper {
      width: 1260px;
  }
  #plantbook-nav-mobile {
    display: none;
  }
  #nav-logo-sq {
    display: none;
  }
}


//image css
.table-content-container {
  margin-top: 15px;
}
.content-details-table {
  width: 100%;
  border-collapse: collapse;
}
.content-details-table tr td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #ddd;
  vertical-align: top;
  font-size: 12px;
} 
.content-details-table tr th {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}
.content-details-table tr td:last-child {
  text-align: right;
}
.content-details-table tr td img {
  width: 60px;
  display: inline-block;
  height: auto;
}
.content-details-table tr td i{
  color: #00b784;
  cursor: pointer;
}
.content-details-table thead.img-preview-head{
  visibility: hidden;
}
.slider-div{
  margin-top: -21px;
  margin-bottom: 23px;
}