// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-green: #E9F4F2;
$light-border: rgba(100,100,100,.1);
$whiteish-gray: #F6F9FB;
$default-border: rgba(100,100,100,.3);
$primary-text: rgb(118,118,118);

#plant-profile-page {
	
}
.profile-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 24px;

	#nav-logo-sq {
	  height: 30px;
	  width: 30px;
	  margin-right: 24px;
	}

	.breadcrumb-wrapper {
		display: flex;
		align-items: center;
		opacity: .75;

		a {
			margin: 0 8px;
			text-decoration: none;
			color: inherit;
		}
	}
}
.plant-show-hero {
  display: flex;
  align-items: center;
  background-color: lightgray;
  height: 225px;
  overflow-y: hidden;

  .hero-bg {
    width: 100%;
  }
}
#top-info-wrapper {
	padding: 16px 0;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.top-info {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.plant-info {
		margin-left: 170px;
		display: flex;
		.common {
			font-size: 1.5em;
			letter-spacing: 2px;
			text-transform: capitalize;
			font-weight: 600;
		}
		.scientific {
			text-transform: capitalize;
		}
		.social-stats {
			margin-left: 128px;
		}
		p {
			margin: 0;
		}
	}
}
.plant-profile-pic {
	position: absolute;
	top: -80px;
	box-shadow: 0 0 0 5px rgba(255,255,255,1);
	border-radius: 50%;
	height: 130px;
	width: 130px;
	background-color: gray;
	overflow-x: hidden;
	overflow-y: hidden;

	img {
		width: 100%;
		min-height: 100%;
	}
}

/* --- main plant info section --- */
#plant-main {
	display: flex;
	padding: 32px 128px;

	.plant-left {
		margin-top: -24px;
		width: 75%;
		padding-right: 16px;
	}
	.plant-right {
		margin-top: -24px;
		width: 25%;
		padding-left: 16px;

		.border-top{
			border-top: 1px solid lightgray;
		}

		.quick-stat {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
			/*border-bottom: 1px solid lightgray;*/

			.stat-left {
				color: #95989A;
			}
			.stat-right {
				color: #767676;
			}
		}
		.see-more {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 16px;
		}
		.ad-header {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 8px;
		}
		.ad-copy {

		}
	}
}
.card {
	margin: 24px 0;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	
	.card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
		border-bottom: 1px solid $light-border;

		.header {
			font-size: 1.25em;
			font-weight: 500;
		}
	}
	.card-body {
		background: white;
		font-size: 1em;

		.plant-care-wrapper {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			padding: 32px 16px;

			.plant-care-descriptor {
				display: flex;
				justify-content: center;
				align-items: center;
			
				.plant-care-info {
					font-size: 1.25em;
				}	
			}
		}
	}
	.card-no-footer {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.card-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px 16px;
		border-top: 1px solid $light-border;
	}
}

/* --- PLANT GALLERY (new) --- */
#gallery {
	display: flex-wrap;
	justify-content: space-between;
	padding: 16px;
	
	.image-wrapper {
		display: flex-wrap;
		justify-content: space-between;
		img {
			margin: 8px;
			width: 100px;
			height: 100px;
			border-radius: 8px;
		}
	}
	.new-img {
		margin: 8px;
		width: 100px;
		height: 100px;
		border-radius: 8px;
		border: 1px dashed lightgray;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5em;
		cursor: pointer;
		text-decoration: none;
		color: inherit
	}
}