// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user {
	background: white;
	display: flex;
	justify-content: center;
}

#collections {
	display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  -webkit-overflow-scrolling: touch; /* this ensures that scrolling on iPhone is smooth as silk */
}