<!--
-- This file is deprecated in favor of _navbar.html.erb
-->

<header class="navbar navbar-fixed-top" style="padding-left: 16px; padding-right: 16px">
    <%= link_to "Plant Book", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", plants_path %></li>
      </ul>
    </nav>
</header>