<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= favicon_link_tag 'favicon.ico' %>
<link rel="apple-touch-icon" href="https://s3-us-west-2.amazonaws.com/plantbook/img/apple-touch-icon.png"/>
<link rel="apple-touch-icon-precomposed" href="https://s3-us-west-2.amazonaws.com/plantbook/img/apple-touch-icon.png"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112947995-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112947995-1');
</script>
