<div id="plantbook-nav">
  <div class="plant-nav-left">
    <%= link_to image_tag("nav-logo-30.svg", alt: "Plantbook"), root_path, id: "nav-logo-pic" %>
  </div>
  
  <div class="plant-nav-right">
    <div class="nav-item">
      <%= link_to "Explore", plants_path %>
    </div>
    <div class="nav-item">
      <%= link_to "Users", users_path, id:'users' %>
    </div>
    <% if logged_in? %>
    <ul class="list-inline list-unstyled">
      <li class="dropdown">
        <a class="nav-item nav-item-dropdown" type="button" data-toggle="dropdown"><i class="far fa-ellipsis-h fa-lg"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to help_path do %>
              <i class="fas fa-question m-r-xs"></i> Help
            <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
              <i class="fas fa-info m-r-xs"></i> About
            <% end %>
          </li>
          <li>
              <a><i class="fal fa-comment-alt m-r-xs"></i> Share feedback</a>
          </li>
          <li>
              <a><i class="fas fa-hashtag m-r-xs"></i> Tweet at us</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              <i class="fas fa-sign-out m-r-xs"></i> Log out
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <button class="btn btn-outline nav-item">Upgrade</button>
   
    <ul class="list-inline list-unstyled">
      <li class="dropdown nav-item">
        <a class="fa-layers fa-fw nav-item-dropdown nav-bell" style="font-size: 18px" type="button" data-toggle="dropdown">
          <i class="fal fa-bell"></i>
          <span class="fa-layers-counter nav-bell-counter">2</span>
        </a>
        <ul class="dropdown-menu notif-menu dropdown-menu-right">
          <li>
            <div class="notif-header">
              <div>Notifications</div>
              <div><i class="fas fa-cog"></i></div>
            </div>
          </li>
          <li class="divider"></li>
          <li class="notif-area">
              <div class="notif-wrapper">
                <div class="notif-icon"><i class="far fa-cut"></i></div>
                <div class="notif-text unread">
                  Now is a great time to prune your <a class="link">Canby Raspberry</a> plant.
                  <div class="btn-wrapper">
                    <button onclick="location.href = 'https://www.youtube.com/watch?v=ShNGGuO1x4E';" class="btn btn-outline"><i class="far fa-play-circle fa-fw m-r-xs"></i> Learn how</button>
                    <button class="btn btn-outline"><i class="fal fa-dollar-sign fa-fw m-r-xs"></i> Hire someone</button>
                    <button class="btn btn-outline"><i class="fal fa-dollar-sign fa-fw m-r-xs"></i> Buy a pruning kit</button>
                  </div>
                </div>
              </div>
              <div class="notif-wrapper">
                <div class="notif-icon"><i class="fal fa-clock"></i></div>
                <div class="notif-text unread">
                  Based on the weather forecast, next week looks like a great time to feed your <a class="link">Limelight Hydrangaea</a> with a balanced 10/10/10 fertilzer.
                  <div class="btn-wrapper">
                    <button class="btn btn-outline"><i class="fal fa-dollar-sign fa-fw m-r-xs"></i> Buy it now</button>
                  </div>
                </div>
              </div>
              <div class="notif-wrapper">
                <div class="notif-icon"><i class="fal fa-clock"></i></div>
                <div class="notif-text">
                  Based on the weather forecast, next week looks like a great time to feed your <a class="link">Limelight Hydrangaea</a> with a balanced 10/10/10 fertilzer.
                  <div class="btn-wrapper">
                    <button class="btn btn-outline"><i class="fal fa-dollar-sign fa-fw m-r-xs"></i> Buy it now</button>
                  </div>
                </div>
              </div>
          </li>
        </ul>
      </li>
    </ul>

    <div class="nav-item">
      <%= link_to edit_user_path(current_user) do %>
        <i class="fal fa-user-circle m-r-xs" style="font-size: 24px"></i>
      <% end %>
    </div>
    <% else %>
    <div class="nav-item"><span class="border-left"></span></div>
    <div class="nav-item">
      <%= link_to login_path do %>
        Log in
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to login_path do %>
        <button class="btn btn-primary">Join Free</button>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<!-- MOBILE NAVBAR -->
<div id="plantbook-nav-mobile">
  
  <div>
    <button onclick="openRail()" class="btn-menu-circle-rotate" id="filterToggle">
      <img src="https://s3-us-west-2.amazonaws.com/plantbook/img/filter.svg" alt="Filters" class="nav-icon">
    </button>
  </div>

  <div>
    <img src="https://s3-us-west-2.amazonaws.com/plantbook/img/nav-logo-30.svg" id="nav-logo-mobile">
  </div>

  <div>
    <ul class="list-inline list-unstyled" style="margin-bottom: 0">
      <% if logged_in? %>
        <li class="dropdown">
          <button type="button" class="btn-menu-circle-rotate" data-toggle="dropdown">
            <img src="https://s3-us-west-2.amazonaws.com/plantbook/img/dots.svg" alt="menu" class="nav-icon">
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <%= link_to help_path do %>
                <i class="fas fa-question m-r-xs"></i> Help
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="fal fa-user-circle m-r-xs"></i> Account settings
              <% end %>
            </li>
            <li>
              <a data-toggle="modal" data-target="#feedback"><i class="fas fa-envelope-open-o m-r-xs"></i> Comment box</a>

              <!-- Add plant modal -->
              <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Comment box</h4>
                        </div>
                        <div class="modal-body">
                          <input type="area">
                        </div>
                        <div class="modal-footer">
                          <div class="checkbox">
                          </div>
                          <div>
                            <button type="button" class="btn btn-quiet" data-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <i class="fas fa-sign-out m-r-xs"></i> Log out
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>