<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

      <% flash.each do |message_type, message| %>
        <% message_type == "error" ? message_type = "danger" : "success"%>
        <%= content_tag(:div, class: "alert alert-#{message_type}") do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%=message_type.capitalize%>!&nbsp;</strong><%=message%>
        <%end%>
      <% end %>

      <%= yield %>
      <!--
      <div class="container">
        <%#= debug(params) if Rails.env.development? %>
      </div>
    -->

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  
  </body>
</html>